{% extends 'base.html' %} {% load markdownify %} {% load resize_to %}

<!-- prettier-ignore -->
{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
  </div>
  {% if recipe.image %}
  <img src="{{ recipe.image }}" class="pull-right" />
  {% endif %}
  <h1>{{ recipe.name }}</h1>
  <h2>Written by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
  <p>
    <!-- prettier-ignore -->
    Created on {{ recipe.created }} | Updated on {{ recipe.updated }} by {{ recipe.updated_by | default_if_none:"Unknown" }}
  </p>
  <form method="post" action="{% url 'recipe_rating' recipe.id %}">
    {% csrf_token %}
    <div class="rating-form-grid">
      {{ rating_form.as_p }}
      <button class="button">Rate</button>
    </div>
  </form>
  <p>Tags: {% for tag in recipe.tags.all %}{{ tag.word }} {% endfor %}</p>
  {{ recipe.description | markdownify }}
  <!-- prettier-ignore -->
  {% if recipe.servings %}
  <form action="" method="get">
    {% csrf_token %}
    <label for="serving-form">Servings:</label>
    <input
      name="serving-form"
      type="number"
      value="{{ servingform | default:recipe.servings }}"
    />
    <button class="button">Calculate Servings</button>
  </form>
  {% endif %}
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      <!-- prettier-ignore -->
      {% for ingredient in recipe.ingredients.all %}
      <tr>
        {% if servingform %}
        <td>{{ ingredient|resize_to:servingform }}</td>
        {% else %}
        <td>{{ ingredient.amount }}</td>
        {% endif %}
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>

        <td>
          {% if ingredient.food not in shopping_count %}
          <form
            action="{% url 'shopping_items_create' ingredient.pk %}"
            method="post"
          >
            {% csrf_token %}
            <button>+Shopping List</button>
          </form>
          <!-- prettier-ingore -->
          {% else %} Item in Shopping List {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in recipe.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock content %}
