{% extends 'base.html' %} {% block content %}
<h1>My Shoping List</h1>
<ul>
  <!-- prettier-ignore -->
  {% for item in shopping_items %}
  <li>{{ item.food_item }}</li>
  {% endfor %}
</ul>
<form action="{% url 'delete_all_shopping_items' %}" method="post">
  {% csrf_token %}<button>Clear All</button>
</form>
{% endblock content %}
