{% extends 'base.html' %}

<!-- prettier ignore -->
{% block content %}
<main class="recipe-detail">
  <h1>Details of {{ meal_plans.name }}</h1>
  <a href="{% url 'meal_plans_update' meal_plans.pk %}">Edit</a> |
  <a href="{% url 'meal_plans_delete' meal_plans.pk %}">Delete</a>
  <p>Date to be eaten: {{ meal_plans.date | date:"m/d/Y" }}</p>
  <ul>
    Included Recipes: {% for recipe in meal_plans.recipes.all %}
    <li>
      <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}
