{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block content %}
<h1>My Meal Plans</h1>
<a href="{% url 'meal_plans_create' %}">Create New Plan</a>

<main class="recipe-grid">
  {% for mp in meal_plans %}
  <div class="recipe-card">
    <h2 class="recipe-card-title">
      <a href="{% url 'meal_plans_detail' mp.pk %}">{{ mp.name }}</a>
      {% if user.is_superuser %}
      <p class="recipe-card-date">Owned by: {{ mp.owner }}</p>
      {% endif %}
    </h2>
  </div>
  {% endfor %}
</main>
{% endblock content %}
